extends layout

block content
    div(align='center')
      h1 Survey Creator 
      h2 There is a place where you can create your survey!!
      div#form
        hr
        form#creator(method='post', action='/addsurvey')
          label Survey's name:
          br
          input#surveyquest(type='text', ng-model='yourSurveyName', name='surveyname', required, pattern="[^<>]+", title="Only text", placeholder='Surveys name')
          br
          label End of survey:
          br
          input#surveyenddate(type='date', ng-model='yourSurveyEnd', name='endofsurvey', required, pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}", title="yyyy-mm-dd", placeholder='yyyy-mm-dd')
          br
          label Who can answer?
          br
          input(type='radio', ng-model='yourWhoAnswer', name='whoanswer', checked, value="invited")
          |  Only invited  
          input(type='radio', ng-model='yourWhoAnswer', name='whoanswer', value="everybody")
          |  Everybody 
          br
          label Who can see result?
          br
          input(type='radio', ng-model='yourwhoseeresult', name='whoseeresult', checked, value="everywhoanswer")
          |  Everybody who answer 
          input(type='radio', ng-model='yourwhoseeresult', name='whoseeresult', value="everybody")
          |  Everybody 
          input(type='radio', ng-model='yourwhoseeresult', name='whoseeresult', value="onlyyou")
          |  Only you 
          hr
          div#end
          br
          button(onclick='addquest()', type='button') Add question
          hr
          div#errorinfo
          button.btn.btn-medium.btn-info(type="submit", form="creator", value="addsurvey" onclick="return valid()") Add Survey
          //input(type='submit', ng-model='yourSubmit', name='submit', value='Add Survey')
          br
          br  
      a.btn.btn-medium.btn-primary(href="/profile")= "Back"
    script(type='text/javascript').
      var countquest = 0;
      var countanswer = 0;
      var noquest = 0;
      function addquest(){
        var queststart = '<label>Question:</label><br>';
        var questname = '<input type="text" ng-model="yourQuestion" name="question['+countquest.toString()+']" required placeholder="Question"><br><br>';
        var info = "Choose option of answer:<br>";
        var list = '<select onchange="addanswer(this.value,'+countquest.toString()+')" required pattern="[a-z]+"> \
        <option value=""></option> \
        <option value="text">text</option> \
        <option value="textarea">textarea</option> \
        <option value="radio">radio</option> \
        <option value="checkbox">checkbox</option> \
        <option value="range">range</option> \
        <option value="date">date</option> \
        </select>';
        var questno = "quest"+countquest.toString();
        var questdelete = '<a href="javascript:deletequest('+questno+')">Delete this question</a>';
        var newquest = document.createElement("div");
        newquest.setAttribute("id", questno);
        var endquestno = "endquest"+countquest;
        var endquestdiv = '<div id='+endquestno+'></div>';
        newquest.innerHTML = '<hr>' + queststart + questname + info + list + endquestdiv + questdelete;
        div = document.getElementById("creator");
        enddiv = document.getElementById("end");
        div.insertBefore(newquest, enddiv);
        countquest++;
        noquest++;
        if(noquest==1) valid();
      }
      function addanswer(w,no){
        var otherans = "";
        var answer = "";
        var answertype = "";
        var button = "";
        if(w=="radio") {
          otherans = '<input type="radio" name="otheranswer['+no.toString()+']" value="true" checked> Available own user\'s answer<br>\
          <input type="radio" name="otheranswer['+no.toString()+']" value="false"> Unavailable own user\'s answer<br><br>';
          answer = '<input type="radio" name="answer" value=""> <input type="text" name="answer['+no.toString()+']" required pattern="[^<>]+" title="Only text" placeholder="Answer">\
          <br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="radio">';
          button = '<button onclick=addnextanswer("radio",'+no.toString()+') type=button>Add next answer</button>';
        }
        else if(w=="checkbox") {
          otherans = '<input type="radio" name="otheranswer['+no.toString()+']" value="true" checked> Available own user\'s answer<br>\
          <input type="radio" name="otheranswer['+no.toString()+']" value="false"> Unavailable own user\'s answer<br><br>';
          answer = '<input type="checkbox" name="answer" value=""> <input type="text" name="answer['+no.toString()+']" required pattern="[^<>]+" title="Only text" placeholder="Answer">\
          <br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="checkbox">';
          button = '<button onclick=addnextanswer("checkbox",'+no.toString()+') type=button>Add next answer</button>';          
        }
        else if(w=="text") {
          otherans = '<input type="hidden" name="otheranswer['+no.toString()+']" value="false">'
          answer = '<input type="text" name="answer['+no.toString()+']" placeholder="Example" value="Example" readonly><br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="text">';  
        }
        else if(w=="textarea") {
          otherans = '<input type="hidden" name="otheranswer['+no.toString()+']" value="false">'
          answer = '<textarea rows="4" cols="50" name="answer['+no.toString()+']" form="creator" readonly>Example Example Example</textarea><br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="textarea">';  
        }
        else if(w=="date") {
          otherans = '<input type="hidden" name="otheranswer['+no.toString()+']" value="false">'
          answer = '<input type="date" name="answer['+no.toString()+']" placeholder="Answer" value="Example" readonly><br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="date">';
        }
        else if(w=="range"){
          otherans = '<input type="hidden" name="otheranswer['+no.toString()+']" value="false">'
          answer = '<input type="text" name="answer['+no.toString()+']" required pattern="[0-9]*" title="Only numbers" placeholder="Min value">\
          <input type="text" name="answer['+no.toString()+']" required pattern="[0-9]*" title="Only numbers" placeholder="Max value">\
          <input type="text" name="answer['+no.toString()+']" required pattern="[0-9]+(\.[0-9]+)?" title="Only numbers" placeholder="Step"><br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="range">';  
        }
        var answerno = "answer"+no.toString();
        var elem = document.getElementById(answerno);
        if(elem) elem.parentNode.removeChild(elem);
        var newtype = document.createElement("div");
        newtype.setAttribute("id", answerno);
        var endanswerno = "endanswer"+no.toString();
        var endanswerdiv = '<div id='+endanswerno+'></div>';
        newtype.innerHTML = otherans + answer + answertype + endanswerdiv + button;
        //alert("quest"+no.toString());
        div = document.getElementById("quest"+no.toString());
        enddiv = document.getElementById("endquest"+no.toString());
        div.insertBefore(newtype, enddiv); 
      }
      function addnextanswer(w,no){
        var answer = "";
        if(w=="radio"){
          answer = '<input type="radio" name="answer" value=""> <input type="text" name="answer['+no.toString()+']" required pattern="[^<>]+" title="Only text" placeholder="Answer">\
          <br>';
        }
        else if(w=="checkbox"){
          answer = '<input type="checkbox" name="answer" value=""> <input type="text" name="answer['+no.toString()+']" required pattern="[^<>]+" title="Only text" placeholder="Answer">\
          <br>';
        }
        var answerno = "answ"+countanswer.toString();
        var answerdelete = '<a href="javascript:deletequest('+answerno+')">Delete this answer</a>';
        var newtype = document.createElement("div");
        newtype.setAttribute("id", answerno);
        newtype.innerHTML = answer + answerdelete;
        div = document.getElementById("answer"+no.toString());
        enddiv = document.getElementById("endanswer"+no.toString());
        div.insertBefore(newtype, enddiv);
        countanswer++; 
      }
      function deletequest(v){
        var elem = document.getElementById(v.id);
        if(elem){
          elem.parentNode.removeChild(elem);
          noquest--;
          if(noquest==0) valid();
        }
      }
      function valid(){
        if(noquest==0){
          div = document.getElementById("errorinfo");
          div.removeAttribute("hidden");
          div.setAttribute("class", "alert alert-danger");
          div.setAttribute("role","alert");
          div.innerHTML = "No question!";
          return false;
        }
        else{
          div = document.getElementById("errorinfo");
          div.setAttribute("hidden","hidden");
          return true;
        }
      }

