extends layout

block content
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            div.container
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                a.navbar-brand
                  | Annonymous Survey App
                div.nav.navbar-nav.navbar-right
                        li
                          button.btn.btn-success.navbar-btn.navbar-inverse(onclick='addquest()', type='button') Add question     
                        li
                          button.btn.btn-primary.navbar-btn.navbar-inverse(type="submit", form="creator", value="addsurvey", onclick="return validall()") Survey complete
                        li
                          a(href="/profile")= "Back"
          div.collapse.navbar-collapse
    div(align='center')
      h1 Survey Creator 
      h2 This is the place where you can create your survey!!
      .container(ng-app='ng-app')
        div#errorinfo(align='center')
      div#form(align='center', class = 'panel')
        hr
        form#creator(method='post', action='/addsurvey')
          div.col-md-3(align='left',)
            label Survey's name:
            br
            input#surveyquest(type='text', ng-model='yourSurveyName', name='surveyname', maxlength="38", size="25", required, pattern="[^<>]+", title="Only text", placeholder='Surveys name')
          div.col-md-2(align='left')
            label Start of survey:
            br
            input#surveystartdate(type='date', ng-model='yourSurveyStart', name='startofsurvey', size="10", required, value=todaydate, pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}", title="yyyy-mm-dd", placeholder='yyyy-mm-dd')
          div.col-md-2(align='left')
            label End of survey:
            br
            input#surveyenddate(type='date', ng-model='yourSurveyEnd', name='endofsurvey', size="10", required, pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}", title="yyyy-mm-dd", placeholder='yyyy-mm-dd')
          div.col-md-2(align='left')          
            label Who can answer?
            br
            input(type='radio', ng-model='yourWhoAnswer', name='whoanswer', checked, value="invited")
            |  Only invited
            br  
            input(type='radio', ng-model='yourWhoAnswer', name='whoanswer', value="everybody")
            |  Everybody 
          div.col-md-2(align='left')   
            label Who can see result?
            br 
            input(type='radio', ng-model='yourwhoseeresult', name='whoseeresult', value="youandwhoanswer", checked)
            |  You & every who answer
            br
            input(type='radio', ng-model='yourwhoseeresult', name='whoseeresult', value="everywhoanswer")
            |  Everybody who answer
            br 
            input(type='radio', ng-model='yourwhoseeresult', name='whoseeresult', value="everybody")
            |  Everybody
            br 
            input(type='radio', ng-model='yourwhoseeresult', name='whoseeresult', value="onlyyou")
            |  Only you
          div.col-md-4#col1(align='center', class = 'jumbotron')    
          div.col-md-4#col2(align='center', class = 'jumbotron')    
          div.col-md-4#col3(align='center', class = 'jumbotron')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js").
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js").
    script(type='text/javascript').
      var countquest = 0;
      var countanswer = 0;
      var noquest = 0; 
      var areanswers = [];        
      function addquest(){
        var queststart = '<label>Question:</label><br>';
        var questname = '<input type="text" ng-model="yourQuestion" size="40" name="question['+countquest.toString()+']" required placeholder="Type your question here"><br><br>';
        var info = "";
        var list = '<select onchange="addanswer(this.value,'+countquest.toString()+')" required pattern="[a-z]+"> \
        <option value=""></option> \
        <option value="text">Text</option> \
        <option value="textarea">Long Text</option> \
        <option value="radio">Radio</option> \
        <option value="checkbox">Checkbox</option> \
        <option value="range">Range</option> \
        <option value="date">Date</option> \
        </select>';
        var questno = "quest"+countquest.toString();
        var questdelete = '<br><a class="btn btn-default btn-sm" href="javascript:deletequest('+questno+')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete this question</a>';
        var newquest = document.createElement("div");
        newquest.setAttribute("id", questno);
        var endquestno = "endquest"+countquest;
        var endquestdiv = '<div id='+endquestno+'></div>';
        newquest.innerHTML = '<hr>' + queststart + questname + info + list + endquestdiv + questdelete;
        if(noquest%3==0){
          div = document.getElementById("col1");
          enddiv = document.getElementById("end");
          div.insertBefore(newquest, enddiv);
        }
        if(noquest%3==1){
          div = document.getElementById("col2");
          enddiv = document.getElementById("end");
          div.insertBefore(newquest, enddiv);
        }
        if(noquest%3==2){
          div = document.getElementById("col3");
          enddiv = document.getElementById("end");
          div.insertBefore(newquest, enddiv);
        }
        countquest++;
        noquest++;
        if(noquest==1) valid();
      }
      function g(w){
        alert(w);
      }
      function addanswer(w,no){
        var otherans = "";
        var answer = "";
        var answertype = "";
        var button = "";
        if(w=="radio") {
          otherans = '<input type="radio" name="otheranswer['+no.toString()+']" value="true" checked> Available own user\'s answer<br>\
          <input type="radio" name="otheranswer['+no.toString()+']" value="false"> Unavailable own user\'s answer<br><br>';
          answer = '<input type="radio" name="answer" value=""> <input type="text" name="answer['+no.toString()+']" required pattern="[^<>]+" title="Only text" placeholder="Answer">\
          <br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="radio">';
          button = '<button onclick=addnextanswer("radio",'+no.toString()+') type=button class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>';
        }
        else if(w=="checkbox") {
          otherans = '<input type="radio" name="otheranswer['+no.toString()+']" value="true" checked> Available own user\'s answer<br>\
          <input type="radio" name="otheranswer['+no.toString()+']" value="false"> Unavailable own user\'s answer<br><br>';
          answer = '<input type="checkbox" name="answer" value=""> <input type="text" name="answer['+no.toString()+']" required pattern="[^<>]+" title="Only text" placeholder="Answer">\
          <br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="checkbox">';
          button = '<button onclick=addnextanswer("checkbox",'+no.toString()+') type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>';
        }
        //'<button onclick=addnextanswer("checkbox",'+no.toString()+') type=button>Add next answer</button>';
        else if(w=="text") {
          otherans = '<input type="hidden" name="otheranswer['+no.toString()+']" value="false">'
          answer = '<input type="text" name="answer['+no.toString()+']" placeholder="Example" value="Here goes the answer" readonly><br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="text">';
        }
        else if(w=="textarea") {
          otherans = '<input type="hidden" name="otheranswer['+no.toString()+']" value="false">'
          answer = '<textarea rows="4" cols="30" name="answer['+no.toString()+']" form="creator" readonly>Here goes very long answer</textarea><br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="textarea">';
        }
        else if(w=="date") {
          otherans = '<input type="hidden" name="otheranswer['+no.toString()+']" value="false">'
          answer = '<input type="date" name="answer['+no.toString()+']" placeholder="Answer" value="Example" readonly><br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="date">';
        }
        else if(w=="range"){
          otherans = '<input type="hidden" name="otheranswer['+no.toString()+']" value="false">'
          answer = '<input type="text" name="answer['+no.toString()+']" required pattern="[0-9]*" title="Only numbers" placeholder="Min value">\
          <input type="text" name="answer['+no.toString()+']" required pattern="[0-9]*" title="Only numbers" placeholder="Max value">\
          <input type="text" name="answer['+no.toString()+']" required pattern="[0-9]+(\.[0-9]+)?" title="Only numbers" placeholder="Step"><br>';
          answertype ='<input type="hidden" name="answertype['+no.toString()+']" value="range">';
        }
        var answerno = "answer"+no.toString();
        var elem = document.getElementById(answerno);
        if(elem) elem.parentNode.removeChild(elem);
        var newtype = document.createElement("div");
        newtype.setAttribute("id", answerno);
        var endanswerno = "endanswer"+no.toString();
        var endanswerdiv = '<div id='+endanswerno+'></div>';
        newtype.innerHTML = otherans + answer + answertype + endanswerdiv + button;
        //alert("quest"+no.toString());
        div = document.getElementById("quest"+no.toString());
        enddiv = document.getElementById("endquest"+no.toString());
        div.insertBefore(newtype, enddiv);
      }
      function addnextanswer(w,no){
        var answer = "";
        if(w=="radio"){
          answer = '<input type="radio" name="answer" value=""> <input type="text" name="answer['+no.toString()+']" required pattern="[^<>]+" title="Only text" placeholder="Answer">\
          <br>';
        }
        else if(w=="checkbox"){
          answer = '<input type="checkbox" name="answer" value=""> <input type="text" name="answer['+no.toString()+']" required pattern="[^<>]+" title="Only text" placeholder="Answer">\
          <br>';
        }
        var answerno = "answ"+countanswer.toString();
        var answerdelete = '<a class="btn btn-default btn-sm" href="javascript:deletequest('+answerno+')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete this answer</a>';
        var newtype = document.createElement("div");
        newtype.setAttribute("id", answerno);
        newtype.innerHTML = answer+answerdelete;
        div = document.getElementById("answer"+no.toString());
        enddiv = document.getElementById("endanswer"+no.toString());
        div.insertBefore(newtype, enddiv);
        countanswer++; 
      }
      function deletequest(v){
        var elem = document.getElementById(v.id);
        if(elem){
          elem.parentNode.removeChild(elem);
          if(v.id[0]=='q') noquest--;
          if(noquest==0) valid();
        }
      }
      function valid(){
        if(noquest==0){
          var div = document.getElementById("errorinfo");
          div.removeAttribute("hidden");
          div.setAttribute("class", "alert alert-danger");
          div.setAttribute("role","alert");
          div.innerHTML = "No question!";
          return false;
        }
        else{
          var div = document.getElementById("errorinfo");
          div.setAttribute("hidden","hidden");
          return true;
        }
      }
      function validrange(no){
        var minr = document.getElementById("minrange"+no.toString());
        var maxr = document.getElementById("maxrange"+no.toString());
        var stepr = document.getElementById("steprange"+no.toString());
        //alert(minr.value);
        if(Number(maxr.value)<Number(minr.value)){
          var div = document.getElementById("errorinfo");
          div.removeAttribute("hidden");
          div.setAttribute("class", "alert alert-danger");
          div.setAttribute("role","alert");
          div.innerHTML = "Maximum is less than minimum in range!";
          return false;
        }
        var q = (maxr.value-minr.value)/stepr.value;
        if(q!=parseInt(q)){
          var div = document.getElementById("errorinfo");
          div.removeAttribute("hidden");
          div.setAttribute("class", "alert alert-danger");
          div.setAttribute("role","alert");
          div.innerHTML = "Wrong step in range!";
          return false;
        }
        var div = document.getElementById("errorinfo");
        div.setAttribute("hidden","hidden");
        return true;
      }
      function validall(){
        var x;
        var y;
        /*
        if(areanswers.length!=countquest){
          var div = document.getElementById("errorinfo");
          div.removeAttribute("hidden");
          div.setAttribute("class", "alert alert-danger");
          div.setAttribute("role","alert");
          div.innerHTML = "Question without selected type of answer!";
          return false;
        }
        */
        for(var i=0; i<countquest; i++){
          x = document.getElementById("minrange"+i.toString());
          if(x!=null){
            return validrange(i);
          }
        }
        return valid();
      } 


