extends layout
block content
	div(align='center', class='jumbotron')
		h2 Please answer following questions:
		div#form
			hr
			form#answer(method='post', action='/answertobase')

					ul
						input(type='hidden' name ='user' value = user form="answer")
						- var id = result[0].surveyid
						input(type='hidden', name ='surveyid' value = id form="answer")
						- var amount = result[0].questionscount
						input(type='hidden', name ='questionsamount' value = amount )
						br
						each r in result
							each q in r.questions
								- var question = "question" + q.questionnumber.toString();
								hr
								div(id=question)
									l1
										input(type='hidden' name = question value = q.question form="answer")

										if q.answertype == "radio"
											h1 #{q.question}
											- var ansNumber = "ans" + q.questionnumber.toString();
												- for (var n=0; n < q.answercount; n++)
													- var answ = q.availbeanswers[n]
													input(type="radio" name = ansNumber value = answ form="answer" checked)
													label=answ
													br
												- if(q.otheranswer == "true")
													- var textFieldName = ansNumber + "User"
													label Or type your own answer:
													br
													input(type="text" name = textFieldName form="answer" placeHolder="Your answer" onblur = 'disableRadioButtons("#{ansNumber}")')

										if q.answertype == "checkbox"
											h1 #{q.question}
											- var ansNumber = "ans" + q.questionnumber.toString();
												- for (var n=0; n < q.answercount; n++)
													- var answ = q.availbeanswers[n]
													input(type="checkbox" name=ansNumber value=answ form="answer")
													label=answ
													br
												- if(q.otheranswer == "true")
													- var divId = "question" + q.questionnumber.toString();
													button( onclick = 'addans("#{divId}","#{ansNumber}")', type='button', placeHolder="Your answer") Add your answers!

										if q.answertype == "text"
											h1 #{q.question}
											- var ansNumber = "ans" + q.questionnumber.toString();
												input(type="text" name=ansNumber form="answer")

										if q.answertype == "range"
											h1 #{q.question}
											- var ansNumber = "ans" + q.questionnumber.toString();
											- var outputName = ansNumber + "Out";
												label Min = #{q.availbeanswers[0]}, Max = #{q.availbeanswers[1]}, Step = #{q.availbeanswers[2]}
												input(type="range" id = ansNumber value = q.availbeanswers[0] name=ansNumber min=q.availbeanswers[0] max=q.availbeanswers[1] step = q.availbeanswers[2]  form="answer" oninput = 'changeOutput("#{ansNumber}")' ) 
												output(name = outputName for = ansNumber value = q.availbeanswers[0])

										if q.answertype == "date"
											h1 #{q.question}
											- var ansNumber = "ans" + q.questionnumber.toString();
												input(type="date" name=ansNumber)

										if q.answertype == "textarea"
											h1 #{q.question}
											- var ansNumber = "ans" + q.questionnumber.toString();
											textarea(rows="4" cols="50" name=ansNumber form="answer")
						input(type="submit" name="Sumbit" value='Done!' form="answer")
	script(type='text/javascript').
		function addans(question, name){
			name = name + "User";
			var znacznik = document.createElement('input');
			znacznik.setAttribute('type', 'text' );
			znacznik.setAttribute('name', name);
			znacznik.setAttribute('style', 'display: block');
			var pattern = "[^<>]+";
			znacznik.required = true;
			znacznik.setAttribute('pattern', pattern );
			var answer = document.getElementById(question);
			answer.appendChild(znacznik);
		}	
		function disableRadioButtons(ans){
			var textFieldName = ans + "User"
			var textField = document.getElementsByName(textFieldName);
			if(textField[0].value != ''){
				var radioButtons = document.getElementsByName(ans);
				for (var i = 0; i < radioButtons.length; i++) {
					radioButtons[i].disabled = true;
				}
			} else {
				var radioButtons = document.getElementsByName(ans);
				for (var i = 0; i < radioButtons.length; i++) {
					radioButtons[i].disabled = false;
				}
			}
		}	
		function changeOutput(ans){
			var value = document.getElementById(ans).value;
			var outputName = ans + "Out";
			var output = document.getElementsByName(outputName);
			output[0].value = value;
		}	