extends layout
block content
	div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
		div.container
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
			a.navbar-brand
				| Annonymous Survey App
			div.nav.navbar-nav.navbar-right    
				li
					button.btn.btn-primary.navbar-btn(type="submit" name="Sumbit" value='Done!' form="answer") Submit your answers	
		div.collapse.navbar-collapse
	div(align='center', class='jumbotron')
		h1 #{surveyname.surveyname}
		h2 Please answer following questions:
		div(align='center', class='row')
			div.col-md-6(align='center')
				h2 Questions
			div.col-md-6(align='center')
				h2 Answers
		div#form
			hr
			form#answer(method='post', action='/answertobase')

					ul
						input(type='hidden' name ='user' value = user form="answer")
						- var id = result[0].surveyid
						input(type='hidden', name ='surveyid' value = id form="answer")
						- var amount = result[0].questionscount
						input(type='hidden', name ='questionsamount' value = amount )
						br
						each r in result
							- var numberToDisplay = 0; 
							each q in r.questions
								- var question = "question" + q.questionnumber.toString();
								- numberToDisplay++;
								hr
								div(id=question, class='row')
									l1

										if q.answertype == "radio"
											div.col-md-6(align='left')
												- var toDisplay = String(numberToDisplay) + ". " + q.question
												h4= toDisplay
											div.col-md-6(align='center')
												- var ansNumber = "ans" + q.questionnumber.toString();
													- for (var n=0; n < q.answercount; n++)
														- var answ = q.availbeanswers[n]
														- if (answ!="")
															input(type="radio" name = ansNumber value = answ form="answer" checked)
															label=answ
															br
													- if(q.otheranswer == "true")
														- var textFieldName = ansNumber + "User"
														label Or type your own answer:
														br
														input(type="text" name = textFieldName form="answer" placeHolder="Your answer" oninput = 'disableRadioButtons("#{ansNumber}")')

										if q.answertype == "checkbox"
											div.col-md-6(align='left')
												- var toDisplay = String(numberToDisplay) + ". " + q.question
												h4= toDisplay
											div.col-md-6(align='center')		
												- var ansNumber = "ans" + q.questionnumber.toString();
													- for (var n=0; n < q.answercount; n++)
														- var answ = q.availbeanswers[n]
														- if (answ!="")
															input(type="checkbox" name=ansNumber value=answ form="answer")
															label=answ
															br
													- if(q.otheranswer == "true")
														- var divId = "question" + q.questionnumber.toString();
															button( onclick = 'addans("#{divId}","#{ansNumber}"); this.i++;' type='button', placeHolder="Your answer") Add your answers!
										
										if q.answertype == "text"
											div.col-md-6(align='left')
												- var toDisplay = String(numberToDisplay) + ". " + q.question
												h4= toDisplay
											div.col-md-6(align='center')		
												- var ansNumber = "ans" + q.questionnumber.toString();
													input(type="text" name=ansNumber form="answer" required )

										if q.answertype == "range"
											div.col-md-6(align='left')
												- var toDisplay = String(numberToDisplay) + ". " + q.question
												h4= toDisplay
											div.col-md-6(align='center')		
												- var ansNumber = "ans" + q.questionnumber.toString();
												- var outputName = ansNumber + "Out";
													label Min = #{q.availbeanswers[0]}, Max = #{q.availbeanswers[1]}, Step = #{q.availbeanswers[2]}
													input(type="range" id = ansNumber value = q.availbeanswers[0] name=ansNumber min=q.availbeanswers[0] max=q.availbeanswers[1] step = q.availbeanswers[2]  form="answer" oninput='changeOutput("#{ansNumber}")' ) 
													output(name = outputName for = ansNumber value = q.availbeanswers[0])

										if q.answertype == "date"
											div.col-md-6(align='left')
												- var toDisplay = String(numberToDisplay) + ". " + q.question
												h4= toDisplay
											div.col-md-6(align='center')		
												- var ansNumber = "ans" + q.questionnumber.toString();
												input(type="date" name=ansNumber required )

										if q.answertype == "textarea"
											div.col-md-6(align='left')
												- var toDisplay = String(numberToDisplay) + ". " + q.question
												h4= toDisplay
											- var ansNumber = "ans" + q.questionnumber.toString();
											div.col-md-6(align='center')											
												textarea(rows="4" cols="50" name=ansNumber form="answer" required )
						br
						br
						
	script(type='text/javascript').
		function addans(question, name){

			var uniqueId = 0;
			name = name + "User";

			var znacznik = document.createElement('input');
			znacznik.setAttribute('type', 'text' );
			znacznik.setAttribute('name', name);
			znacznik.setAttribute('style', 'display: block');

			var pattern = "[^<>]+";
			znacznik.required = true;
			znacznik.setAttribute('pattern', pattern );

			var answer = document.getElementById(question);
			
			uniqueId = answer.childElementCount - 1;
			uniqueName1 = name + "_" + String(uniqueId);
			znacznik.setAttribute('id', uniqueName1);

			answer.appendChild(znacznik);
		
			var deleteAnswer = document.createElement('input');
			deleteAnswer.setAttribute('type', 'button');
			deleteAnswer.setAttribute('value', 'Delete this answer!');

			uniqueId = answer.childElementCount - 1;
			var uniqueName2 = name + "_" + String(uniqueId);
			deleteAnswer.setAttribute('id', uniqueName2);
			answer.appendChild(deleteAnswer);

			deleteAnswer.onclick = function(){

				var name = this.id;
				var parentNodeId = this.parentNode.id;
				
				var number = name.slice(name.indexOf("_")+1);
				number--;

				var textFieldId = name.slice(0,name.indexOf("_")+1) + String(number);

				var div = document.getElementById(parentNodeId);
				var textField =  document.getElementById(textFieldId);
				var button =  document.getElementById(name);

				div.removeChild(textField);
				div.removeChild(button);
			}	
		}	
		function disableRadioButtons(ans){
			var textFieldName = ans + "User"
			var textField = document.getElementsByName(textFieldName);
			if(textField[0].value != ''){
				var radioButtons = document.getElementsByName(ans);
				for (var i = 0; i < radioButtons.length; i++) {
					radioButtons[i].disabled = true;
				}
			} else {
				var radioButtons = document.getElementsByName(ans);
				for (var i = 0; i < radioButtons.length; i++) {
					radioButtons[i].disabled = false;
				}
			}
		}	
		function changeOutput(ans){
			var value = document.getElementById(ans).value;
			var outputName = ans + "Out";
			var output = document.getElementsByName(outputName);
			output[0].value = value;
		}	
		