extends layout

block content
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        div.container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            a.navbar-brand
                | Annonymous Survey App
            div.nav.navbar-nav.navbar-right
                    li
                        a(href='/creator') Create survey     
                    li
                        a(href='/changepassword') Change password
                    li
                        a(href="/logout") Log out
        div.collapse.navbar-collapse

    div(align='center', class='jumbotron')
        h2 Annonymous Survey App - Your Account
            h3 Hi  #{profile.username}!
        hr
        div.row
            div.col-md-6(align='left')
                h3 Surveys which you've been invited to:
                each survey in surveys
                    div(id='field'+survey.surveyid,class="row")
                        table.table-condensed
                            thead
                                th
                                th
                                th
                                th
                                th
                            tbody    
                                td.col-md-8
                                    h5 #{survey.surveyname}
                                td.col-md-1 
                                    a.btn.btn-medium.btn-success(href='/gotosurvey?id='+survey.surveyid) Fill or Check
                                td.col-md-1 
                                    if(survey.whoseeresult == "everywhoanswer" || survey.whoseeresult == "youandwhoanswer")
                                        //input.btn.btn-medium.btn-primary(type='button', name='emailsubmit', value='Every who answer', onclick='writepasswordtoresult('+survey.surveyid+')')
                                        a.btn.btn-medium.btn-primary(href='/result?survey='+survey.surveyid) Results
                                    else if(survey.whoseeresult == "everybody")
                                        a.btn.btn-medium.btn-primary(href='/result?survey='+survey.surveyid) Results
                                    else if(survey.whoseeresult == "onlyyou")
                                td.col-md-1
                                    button.btn.btn-medium.btn-warning(onclick='info('+survey.surveyid+')') Info
                                td.col-md-1
                                    button.btn.btn-medium.btn-default(onclick='forget('+survey.surveyid+')') Forget
                    div(id='infofield'+survey.surveyid, hidden="hidden")
                        | Survey start: #{new Date(survey.surveystart).toLocaleDateString()}
                        br
                        | Survey end: #{new Date(survey.surveyend2).toLocaleDateString()} 
                        br
                        | Survey owner: #{survey.surveyowner}
                        br 
                        p    
            div.col-md-6(align='left')            
                h3 Surveys created by you:
                each osurvey in surveysowner
                    div(id='ofield'+osurvey.surveyid,class="row")
                        table.table-condensed
                            thead
                                th
                                th
                                th
                                th
                                th
                            tbody    
                                td.col-md-6
                                    h5 #{osurvey.surveyname}    
                                td.col-md-2
                                    a.btn.btn-medium.btn-info(href='/result?survey='+osurvey.surveyid) Result                    
                                td.col-md-2
                                    a.btn.btn-medium.btn-primary(href='/chooseuser?survey='+osurvey.surveyid) Invite more people
                                td.col-md-1
                                    button.btn.btn-medium.btn-warning(onclick='oinfo('+osurvey.surveyid+')') Info     
                                td.col-md-1
                                    button.btn.btn-medium.btn-default(onclick='oforget('+osurvey.surveyid+')') Forget     
                    div(id='oinfofield'+osurvey.surveyid, hidden="hidden")
                        | Survey start: #{new Date(osurvey.surveystart).toLocaleDateString()}
                        br
                        | Survey end: #{new Date(osurvey.surveyend2).toLocaleDateString()} 
                        br
                        p  
    script(type='text/javascript').
        function info(x){
            var info = document.getElementById("infofield"+x);
            var v = info.getAttribute("hidden");
            //alert(x+" "+v+" "+info);
            if(v=="hidden"){
                info.removeAttribute("hidden");
            }
            else{
                info.setAttribute("hidden","hidden");
            }
        }
        function oinfo(x){
            var info = document.getElementById("oinfofield"+x);
            var v = info.getAttribute("hidden");
            //alert(x+" "+v+" "+info);
            if(v=="hidden"){
                info.removeAttribute("hidden");
            }
            else{
                info.setAttribute("hidden","hidden");
            }
        }
        function forget(x){
            if(confirm("Are you sure to forget survey no. "+x+"?")){
                //var z = document.cookie;
                //alert(z);
                $.post('unactivesurvey', { surveyid: x },function(data) {
                        alert(data);
                });
                var i = document.getElementById("field"+x);
                i.setAttribute("hidden","hidden");
                var j = document.getElementById("infofield"+x);
                j.setAttribute("hidden","hidden");
            }
            else{
            }
        }
        function oforget(x){
            if(confirm("Are you sure to forget your own survey no. "+x+"?")){
                $.post('ounactivesurvey', { surveyid: x },function(data) {
                        alert(data);
                });
                var i = document.getElementById("ofield"+x);
                i.setAttribute("hidden","hidden");
                var j = document.getElementById("oinfofield"+x);
                j.setAttribute("hidden","hidden");
            }
            else{
            }
        }
        function writepassword(n){
            var input = '<br><form action="/fillorcheck" method="post" id="form1"><input type="hidden" name="yoursurveyid" value='+n+'><input type="password" name="yourpassword" placeholder="Enter you password here"><button class="btn btn-medium btn-info" type="submit" form="form1" value="fillorcheck">Fill or Check</button></form>';
            var x = document.getElementsByClassName("passwordfield"+n);
            x[0].innerHTML = input;
        }
        function writepasswordtoresult(n){
            var input = '<form action="/result?survey='+n+'" method="post" id="form2"><input type="hidden" name="yoursurveyid" value='+n+'><input type="password" name="yourpassword" placeholder="Enter you password here"><button class="btn btn-medium btn-info" type="submit" form="form2" value="checkresult">Check result</button></form>';
            var x = document.getElementsByClassName("passwordfield"+n);
            x[0].innerHTML = input;
        }