extends layout
	
block content
	div(align='center', class='jumbotron')
		if results
			ul
				each r in results
					l1
						h1 Surveyname: #{r.surveyname}
						h2 Surveyowner: #{r.surveyowner}
			h2 Answered #{count} respondents
			h3 Results of the respondents:
			ul
				each r in results
					each q in r.questions
						li
							h1 #{q.questionnumber}. #{q.question}	
							h2 Reply:
							- for (var n=0; n < q.answercount; n++)
								li
									h3 #{q.availbeanswers[n]}
		if result
			.alert.alert-danger(role='alert')= result							
		br
		br
		a.btn.btn-medium.btn-info(href="/profile")= "Back"
		br
		br
